# Environment variables
.env
.env.*
!.env.example

# Secrets
*.key
*.pem

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
.flutter-plugins-dependencies

# Android
.gradle/
android/.gradle/
android/local.properties
android/key.properties

# Java
*.class
target/
.idea/
*.iml

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
